<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="">
                <div class="dropdown profile-element" style="background-color:white; height:60px;">
                    <a style="background-color:white;" class="dropdown-toggle" href="/Home/Index">

                        <img src="~/Content/plugins/images/logo.png" />

                    </a>

                </div>
                <div class="logo-element">
                    KEC
                </div>
            </li>
            @if (User.IsInRole("System Admin"))
            {
                <li> <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Dashboard</span></a></li>
                <li><a href="@Url.Action("Index", "Role")"><i class="glyphicon glyphicon-list"></i>Manage Users</a></li>
                <li><a href="@Url.Action("UserList", "Role")"><i class="glyphicon glyphicon-list"></i>Registered User List</a></li>

            }

            @if (User.IsInRole("Data Creator"))
            {
                <li><a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Dashboard</span></a></li>
                <li><a href="@Url.Action("Index", "School")"><i class="glyphicon glyphicon-list"></i>Upload School Data</a></li>
            }
            @if (User.IsInRole("Batch Creator"))
            {
                <li><a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Batch Management" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Dahsboard</span></a></li>
                <li><a href="@Url.Action("Index", "Batch")"><i class="glyphicon glyphicon-list"></i>Upload Data</a></li>

            }
            @if (User.IsInRole("Voucher Creator"))
            {

                <li><a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Voucher Management" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Dashboard</span></li>
                <li><a href="@Url.Action("Index", "Voucher")"><i class="glyphicon glyphicon-list"></i>Create Voucher</a></li>


            }

            @if (User.IsInRole("Voucher Approver"))
            {

                <li><a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Approvals" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Dashboard</span></a></li>
                <li><a href="@Url.Action("ApproveVoucher", "Voucher")"><i class="glyphicon glyphicon-list"></i> Approve Voucher</a></li>

            }
            @if (User.IsInRole("School Admin"))
            {
                <li><a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Data Management" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label">Dashboard</span></a></li>
                <li><a href="@Url.Action("Transaction", "Client")"><i class="glyphicon glyphicon-list"></i>Transactions Ledger</a></li>


            }


        </ul>
    </div>
</nav>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>