@model ProductPageViewModel
@{
    ViewData["Title"] = @ViewBag.Category;
}
@if (Model != null && Model.Products.Any())
{
    <div class="border bd-blue">
        <div class="grid">
            <div class="row">
                <div class="cell-md-full">
                    <div class="ui horizontal divider">
                        <p class="text-center text-bold text-upper fg-orange">@ViewBag.Category</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell-md-full">
                    <form class="inline-form p-2 border bd-blue place-right-md m-2" asp-controller="Store" asp-action="Publications" asp-route-categoryId="@ViewBag.CategoryId"
                          data-ajax="true" data-ajax-update="#products-list" data-ajax-method="GET" data-ajax-mode="replace"
                          data-ajax-loading="#spinner">
                        <input data-prepend="<span class='text-center'>Search term:</span>" name="searchTerm" type="text" data-role="search" data-clear-button="false"/>
                        <a asp-controller="Store"  asp-action="Publications" asp-route-categoryId="@ViewBag.CategoryId" role="button" class="button warning outline rounded m-2">Reset</a>
                    </form>
                </div>
            </div>
            <div class="row match-height" id="products-list">
                @{
                    await Html.RenderPartialAsync("_PublicationListPartial", Model);
                }
            </div>
            <div class="row">
                <div class="cell-md-12 p-2">
                    <div class="pagination-container m-2 border bd-blue">
                        <ul id="pagination" class="mt-2"></ul>
                        <input asp-for="Pager.NumberOfPages" type="hidden" id="hdnTotalNumberOfPages" value="@Model.Pager.NumberOfPages" />
                        <input asp-for="Pager.CurrentPage" type="hidden" id="hdnCurrentPage" value="@Model.Pager.CurrentPage" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}
else
{
    <div class="row">
        <div class="cell">
            <div class="border bd-blue">
                <h4 class="text-upper text-center text-bold fg-orange p-2">No products for the selected category or search criteria yet</h4>
                <h6 class="fg-blue text-center text-upper text-light p-2">Please check later</h6>
            </div>
        </div>
    </div>

}



