@model KEC.Curation.UI.Models.RegisterViewModel
@{
    /**/

    /**/

    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}


<img src="~/Content/plugins/images/logo.png" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-4">
            <label>Full Name</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control  required valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.FullName) })
            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label>Phone Number</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control  required valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.PhoneNumber) })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label>Email</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control required valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.Email) })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label>Role Name</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.RoleName, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label>Subject</label>
        </div>
        <div class="col-md-8">
            <select name="SubjectTypeId" id="SubjectTypeId" class="form-control" onchange="getValueNow(this)"></select>
        </div>
    </div>
    <div class="form-group hidden">
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.SubjectId, new { @class = "form-control", id = "SubjectIds" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label>Password</label>
        </div>
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control required  valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.Password) })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label style="font-size:12px;">Confirm Password</label>
        </div>
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.ConfirmPassword) })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" style="background-color:#00b95f;" value="Register" />
            <br /><hr /><a href="/Home/Index" class="btn btn-info">Go back Home</a>
        </div>
    </div>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="@Url.Content("~/js/SubjectsForCurators.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SubjectIds").val($("#SubjectTypeId").val());
        });

    </script>
    <script type="text/javascript">
        function getValueNow(selectObject) {
            var value = selectObject.value;
            $("#SubjectIds").val(value);
        }
    </script>
}
