@model KEC.Curation.UI.Models.RegisterViewModel
@{
                /**/

                /**/

                ViewBag.Title = "Register";
                Layout = "~/Views/Shared/_Layouts.cshtml";
}


<img src="~/Content/plugins/images/logo.png" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control  required", placeholder = Html.DisplayNameFor(n => n.FullName) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control  required", placeholder = Html.DisplayNameFor(n => n.PhoneNumber) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control required email", placeholder = Html.DisplayNameFor(n => n.Email) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RoleName, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.RoleName, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Subject, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            <select name="SubjectTypeId" id="SubjectTypeId" class="form-control" onchange="getValueNow(this)"></select>
        </div>
    </div>
    <div class="form-group hidden">
        @Html.LabelFor(m => m.SubjectId, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.SubjectId, new { @class = "form-control", id = "SubjectIds" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control required  valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.Password) })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required valid validate-equalTo-blur", placeholder = Html.DisplayNameFor(n => n.ConfirmPassword) })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" style="background-color:#00b95f;" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    <script src="@Url.Content("~/js/SubjectsForCurators.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SubjectIds").val($("#SubjectTypeId").val());
        });

    </script>
    <script type="text/javascript">
        function getValueNow(selectObject) {
            var value = selectObject.value;
            $("#SubjectIds").val(value);
        }
    </script>
}
