<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMS | @ViewBag.Title</title>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
</head>
<body style="background-color:#FBFBFB;">
    <div style="align-content:center;" class="col-md-8 col-md-offset-2">
        <img src="~/Content/images/banner-01.jpg" style="width:680px; height:190px;" />
    </div>
    <div class="panel panel-default col-md-6 col-md-offset-3" style="width:50%; margin-left:250px; margin-top:50px;box-shadow: 5px 10px 18px  #888888;">

        <div class="">


            <!-- Main view  -->
            @RenderBody()
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/notify")
    @Scripts.Render("~/plugins/metisMenu")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/js/globalConstants")
    @RenderSection("scripts", required: false)
</body>
</html>
