<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMS | @ViewBag.Title</title>
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome/css/")
    @Styles.Render("~/fonts/font-awesome/css")
</head>
<body style="background-color:white;">

    <!-- Wrapper-->
    <div id="wrapper" style="background-color:black;">

        <!-- Navigation -->
        @Html.Partial("_Navigation")
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>

        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/notify")
    @Scripts.Render("~/plugins/metisMenu")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/js/globalConstants")
    @RenderSection("scripts", required: false)
</body>
</html>
