
<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse" >
        <ul class="nav" id="side-menu">
            <li>
                <div  style="background-color:white; height:60px;">
                    <a  style="background-color:white;" href="/Home/Index">

                        <img src="~/Content/images/KEClogo.png" style="width:150px;" />

                    </a>

                </div>
                <div class="logo-element">
                    KEC
                </div>
            </li>
            <br/>
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Submissions Summary</span> </a>
            </li>
            <li>
                <a href="@Url.Action("Upload", "Publisher")"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Submit Content</span> </a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Submitted Content</span> </a>
                <ul class="nav nav-second-level collapse">
                    <li> <a href="@Url.Action("AllPublications", "Home")"><i class="glyphicon glyphicon-book"></i><span class="nav-label">All Submissions</span> </a></li>
                    <li> <a href="@Url.Action("Approved", "Home")"><i class="glyphicon glyphicon-book"></i> <span class="nav-label">Approved Submissions</span> </a></li>
                    <li> <a href="@Url.Action("Rejected", "Home")"><i class="glyphicon glyphicon-book"></i> <span class="nav-label">Rejected Submissions</span></a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>