
<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse" >
        <ul class="nav" id="side-menu">
            <li>
                <div class="dropdown profile-element" style="background-color:white; height:60px;" >
                    <a data-toggle="dropdown" style="background-color:white;" class="dropdown-toggle" href="#">
                       
                                    <img src="~/Content/plugins/images/logo.png"  style="height:56px; width:123px;" />

                    </a>

                </div>
                <div class="logo-element">
                    CMS+
                </div>
            </li>
            <br>
            @*<li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> <span class="nav-label">Home</span> </a>
            </li>*@
            <li>
                <a href="@Url.Action("Upload", "Publisher")"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Upload Content</span> </a>
            </li>
            <li>
                <a href="@Url.Action("Approved", "Publisher")"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Uploaded Content</span></a>
            </li>
            
             @*<li>
            <a href="@Url.Action("Conditional", "Publisher")"><i class="fa fa-laptop"></i> <span class="nav-label">Conditional</span> </a>
        </li>*@
        @*<li>
            <a href="@Url.Action("Rejected", "Publisher")"><i class="fa fa-laptop"></i> <span class="nav-label">Rejected</span> </a>
        </li>*@

        </ul>
    </div>
</nav>