@model LicencesEmailViewModel
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="receipt-header">
                        <div class="col-xs-6 col-sm-6 col-md-6">

                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                            <div class="receipt-right">
                                <h5>Kenya Education Cloud Store</h5>
                                <p>@Model.StoreEmail<i class="fa fa-envelope-o"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="receipt-header receipt-header-mid">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                            <div class="receipt-right">
                                <h5>@Model.CustomerName &ndash;<small>Order Number: @Model.OrderNumber</small></h5>
                                <p><b>Email :</b> @Model.CustomerEmail</p>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="receipt-left">
                                <h1>Licences</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Publication</th>
                                <th>Licence Code</th>
                                <th>Expiry date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Licences != null)
                            {
                                @foreach (var licence in Model.Licences)
                                {
                                    <tr>
                                        <td>@licence.Publication</td>
                                        <td>@licence.Code</td>
                                        <td>@licence.ExpiryDate</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="receipt-header receipt-header-mid receipt-footer">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                            <div class="receipt-right">
                                <p><b>Date :</b>@Model.GenDate</p>
                                <h5 style="color: rgb(140, 140, 140);">Thank you for your business!</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>