@using KEC.ECommerce.Web.UI.Models;
@model OrderViewModel
<table class="table striped table-border cell-border">
    <thead>
        <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lineItem in Model.Items)
        {
            <tr>
                <td class="orderitem">@lineItem.Description</td>
                <td class="orderitem">@lineItem.UnitPrice</td>
                <td class="orderitem">@lineItem.Quantity</td>
                <td class="orderitem">@lineItem.TotalCost</td>
            </tr>
        }


    </tbody>
</table>
<div class="row">
    <div class="cell-md-full clear">
        <h5 class="fg-blue place-right text-bold pr-2">@Model.TotalCost</h5>
    </div>
</div>