@using KEC.ECommerce.Web.UI.Models;
@model ProductViewModel;
<link href="~/css/ImageCrop.css" rel="stylesheet" />
<div class="cell-md-3">
    <div class="card">
        <div class="card-header">
            <h6 class="text fg-green fg-red-hover">@Model.Subject</h6>
        </div>
        <div class="card-content p-2">
            <img src="@Url.Content(Model.ThumbnailUrl)" class="img">
            @*class="img-thumbnail"*@
        </div>
        <div class="card-content">
            <div class="cell">
                <h5 class="text fg-green fg-red-hover">@Model.Author</h5>
            </div>
        </div>
        <div class="card-content">
            <div class="cell">
                <h5 class="text fg-green fg-red-hover">@Model.Title</h5>
            </div>
        </div>
        <div class="card-content">
            <div class="cell">
                <p class="pt-2">@Model.Description</p>
            </div>
        </div>
        <div class="card-content">
            <div class="cell">
                <h5 class="text fg-green fg-red-hover">@Model.UnitPrice</h5>
            </div>
        </div>
        <div class="card-footer">
            @{
                await Html.RenderPartialAsync("_ShoppingForm", Model);
            }
        </div>
    </div>

</div>