@using KEC.ECommerce.Web.UI.Models;
@model ShoppingCartViewModel
<table class="table striped table-border cell-border">
    <thead>
        <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model.Items)
        {
            <tr>
                <td class="cart">@cartItem.Description</td>
                <td class="cart">@cartItem.UnitPrice</td>
                <td class="cart">@cartItem.Quantity</td>
                <td class="cart">@cartItem.TotalCost</td>
                <td class="cart">
                    <form class="inline-form" asp-controller="Shopping" asp-action="RemoveFromCart" asp-route-productId="@cartItem.ProductId"
                          data-ajax="true" data-ajax-update="#mycart" data-ajax-method="DELETE" data-ajax-mode="replace"
                          data-ajax-loading="#spinner">
                        @Html.AntiForgeryToken()
                        <button class="button alert outline rounded m-1 size-small"><span class="mif-bin"></span></button>
                    </form>
                </td>
            </tr>
        }

        <tr>
            <td class="cart"></td>
            <td class="cart"></td>
            
            <td class="cart"> <h5 class="fg-blue place-left text-bold pr-2"></h5></td>
            <td class="cart">
                <h5 class="fg-blue place-left text-bold pr-2">@Model.TotalCost</h5>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
