@using KEC.Curation.UI.Models;
@model RoleRemoveViewModel
@{
    ViewBag.Title = "RemoveFromRole";
    Layout = "~/Views/Shared/_LayoutAdminRoles.cshtml";
}
@{
    var UserId = Request.Params["Id"];
    var RoleId = Request.Params["Role"];
}
<h2>Remove User From Role</h2>
@using (Html.BeginForm("DeleteRole", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12">
        @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control readonly required valid validate-equalTo-blur", @readonly = "readonly", Id = "RoleName", Value=RoleId})
        @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control readonly required valid validate-equalTo-blur", @readonly = "readonly",  Id = "UserName", Value = UserId })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>
    <input type="submit" class="btn btn-w-m btn-info" style="background-color:#00B95F;" value="Delete this user from Role" />
}


