
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="">
                <div style="background-color:white; height:60px;" class="hidden-sm hidden-xs">
                    <a style="background-color:white;" href="/Home/Index">

                        <img src="~/Content/plugins/images/KEClogo.png" style="width:150px;" />

                    </a>

                </div>
                <div class="logo-element">
                    <a href="/Home/Index" title="Home">KEC</a>
                </div>
            </li>
            <br>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Administration" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Administration</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="@Url.Action("ListCategory", "Home")"><i class="glyphicon glyphicon-list"></i>Subject Categories</a></li>
                        <li><a href="@Url.Action("ListLevels", "Home")"><i class="glyphicon glyphicon-list"></i> Publication Levels</a></li>
                        <li><a href="@Url.Action("ListSubjects", "Home")"><i class="glyphicon glyphicon-list"></i> Publication Subjects</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Submission Summary" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Submissions Summary</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="">
                        <li> <a href="@Url.Action("AllPublications", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>All Submissions </a></li>
                        <li> <a href="@Url.Action("Pending", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Pending Submissions </a></li>
                        <li> <a href="@Url.Action("Approved", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Approved Content</a></li>
                        <li> <a href="@Url.Action("Rejected", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Not Approved Content</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Submission Summary" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Publishers List</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="">
                        <li> <a href="@Url.Action("Publishers", "Home")"><i class="glyphicon glyphicon-edit"></i>Publishers List </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Manage Users" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Manage Users</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li> <a href="@Url.Action("Index","Role")"><i class="glyphicon glyphicon-edit"></i>Manage Roles </a></li>
                        <li> <a href="@Url.Action("Register","Account")"><i class="glyphicon glyphicon-edit"></i>Register User </a></li>
                        <li> <a href="@Url.Action("ListUsers","Role")"><i class="glyphicon glyphicon-edit"></i>All Users </a></li>

                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Curator List" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Curator List</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="">
                        <li> <a href="@Url.Action("PrincipalCurators", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Principal Curators </a></li>
                        <li> <a href="@Url.Action("ChiefCurators", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Chief Curators </a></li>
                        <li> <a href="@Url.Action("Curators", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Subject Curators  </a></li>
                    </ul>
                </li>
            }
            <li>
                @if (User.IsInRole("Verification Office"))
                {
                <li>
                    <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Publication Conformity" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Publication Conformity</span> </a>
                </li>
                <li> <a href="@Url.Action("Legal", "Stages")" data-toggle="tooltip" data-placement="top" title="Submission Validation" class="green-tooltip"><i class="glyphicon glyphicon-edit"></i><span class="nav-label">Submission Validation</span> </a></li>


            }
                @if (User.IsInRole("Finance Office"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Publication Conformity" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Publication Conformity</span> </a>
                    </li>
                    <li> <a href="@Url.Action("Finance", "Stages")" data-toggle="tooltip" data-placement="top" title="Payment Validation" class="green-tooltip"><i class="glyphicon glyphicon-edit"></i><span class="nav-label">Payment Validation</span></a></li>


                }
                <li>
                    @if (User.IsInRole("Curator"))
                    {
                        <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Publication Curation" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Publication Curation</span> </a>

                    <li> <a href="@Url.Action("CuratorView", "Curator")" data-toggle="tooltip" data-placement="top" title="Curation" class="green-tooltip"><i class="glyphicon glyphicon-edit"></i><span class="nav-label">Curation</span> </a></li>

                }
                    @if (User.IsInRole("Chief Curator"))
                    {
                        <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Publication Curation" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Publication Curation</span> </a>

                        <li> <a href="@Url.Action("ChiefCuratorView","ChiefCurator")" data-toggle="tooltip" data-placement="top" title="Chief Curation" class="green-tooltip"><i class="glyphicon glyphicon-edit"></i><span class="nav-label">Chief Curation</span> </a></li>

                    }
                    @if (User.IsInRole("Principal Curator"))
                    {
                        <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Publication Curation" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Publication Curation</span> </a>

                        <li> <a href="@Url.Action("AssignMultiple", "PrincipalCurator")" data-toggle="tooltip" data-placement="top" title="Principal Curation" class="green-tooltip"><i class="glyphicon glyphicon-edit"></i> <span class="nav-label">Principal Curation</span></a></li>

                    }
                    @if (User.IsInRole("Curation Manager"))
                    {
                        <li style="">
                            <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="top" title="Manager Navigation" class="green-tooltip"><i class="glyphicon glyphicon-dashboard"></i> <span class="nav-label" style=" color:white;">Manager Navigation</span> </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Submission Summary" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Submissions Summary</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" style="">
                                <li> <a href="@Url.Action("AllPublications", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i><span class="nav-label">All Submissions</span> </a></li>
                                <li> <a href="@Url.Action("Pending", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Pending Submissions  </a></li>
                                <li> <a href="@Url.Action("Approved", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>>Approved Content  </a></li>
                                <li> <a href="@Url.Action("Rejected", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>>Not Approved Content  </a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Curator List" class="green-tooltip"><i class="glyphicon glyphicon-th"></i> <span class="nav-label">Curator List</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" style="">
                                <li> <a href="@Url.Action("PrincipalCurators", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Principal Curators </a></li>
                                <li> <a href="@Url.Action("ChiefCurators", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Chief Curators  </a></li>
                                <li> <a href="@Url.Action("Curators", "CurationManagers")"><i class="glyphicon glyphicon-edit"></i>Subject Curators </a></li>
                            </ul>
                        </li>

                    }

                </ul>
            </div>
        </nav>
