@using Microsoft.Azure.ActiveDirectory.GraphClient;
@model User

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_LayoutPrincipalCurator.cshtml";
}



@section Scripts
{

    <script src="@Url.Content("~/Scripts/globalConstants.js")"></script>
    <script src="@Url.Content("~/js/PrincipalCurator.js")"></script>
    <script src="@Url.Content("~/js/GetChiefCurators.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/typehead/bootstrap3-typeahead.min.js")"></script>
    @Scripts.Render("~/plugins/summernote")
    @Styles.Render("~/plugins/summernoteStyles")

}
@{
    var Title = Request.Params["Title"];
    var PId = Request.Params["Identity"];
    var Stage = Request.Params["Stage"];
    var Publication = Request.Params["Publication"];
    var KICDNumber = Request.Params["KICDN"];

}
<div class="text-center m-t-lg">
    <h1>
        @ViewData["SubTitle"]
    </h1>
    <small>@ViewData["Message"]</small>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="publication-view" data-publicationId="@ViewBag.PublicationId">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row m">
                        <div class="panel panel-success">
                            <div class="panel-heading" style="background-color:#2855a8;">Publication Information</div>
                            <div class="panel-body">

                                <dl>
                                    <dt>KICD Number</dt>
                                    <dd>@KICDNumber</dd>
                                    <dt>Title</dt>
                                    <dd>@Title</dd>
                                    <dt>Publication</dt>
                                    <dd>@Publication</dd>

                                </dl>
                                <div>
                                    <div class="col-lg-12">
                                        <div class="ibox collapsed">
                                            <div class="ibox-title">
                                                <h5>Curators comments</h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content" id="curator-comments">
                                                @* List curator comments here *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="ibox-content no-padding">
                                        <div class="summernote" style="height:100px">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="form-group" style="margin-left:15px;">
                                            <label for="comment" class="col-md-4">Select Chief Curator:</label>

                                        </div>
                                        <div class="form-group col-md-10">
                                            <select name="UserGuid" id="UserGuid" class="col-md-8 form-control" style="color:white; margin-left:15px;"></select>

                                        </div>
                                        <div class="form-group col-md-2">

                                            <button type="button" name="LegalApprove" id="LegalApprove" style="background-color:#00B55F; margin-right:15px;" class="btn btn-w-m btn-primary pull-right">ASSIGN</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group" style="text-align:left;">
                                <a class="button btn btn-w-m btn-primary pull-right" style="background-color:#00B55F; margin-right:15px;" href="/PrincipalCurator/PrincipalCurator">BACK TO PUBLICATIONS</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="  hidden">

        <h1 id="identity" data-identity=@PId></h1>
        <span id="kicd" data-kicdNumber=@KICDNumber><strong>Title:&nbsp;</strong></span>@Title                &nbsp;&nbsp;<span class="pull-right"><strong>Read Publication:&nbsp;</strong></span><br>
        <span><strong>Stage:&nbsp;</strong></span>@Stage<br>
        <span><strong>Publication:&nbsp;</strong></span>@Publication


    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote').summernote();

        });

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>





