
@{
    ViewBag.Title = "Curate Publication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CustomStyles/DocumentViewer.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/js/curate.js"></script>
<script type="text/javascript">
    (function () {
        $(document).ready(function () {
            getPublicationInformation();
        });

        ///Functions Section
        function getPublicationInformation() {
            let Idd = $('#assignment-view').attr('data-assignmentId');
            console.log(Idd);
            let userGuid2 = $('#CurrentUserGuid').val();
            let assignmentUrl2 = apiBaseUrl.concat(`/chiefcurator/curator/getlistings/${Idd}?id=${Idd}`);
            $.ajax({
                url: assignmentUrl2,
                type: 'GET',
                contentType: 'application/json',
                accepts: 'application/json',
                crossDomain: true,
                data: JSON.stringify({ id: Idd }),
                statusCode: {
                    404: () => { ShowAlert("Publication record could not be retrieved", 'error'); },
                    403: () => { ShowAlert("You are not authorized to access the requested publication", "warning"); },
                    500: () => { ShowAlert("Something went wrong while loading publication", "error"); }
                },

            }).done(function (publications, textStatus, jqXHR) {

                document.getElementById("publicationUrlGot").value = `${publications.publicationUrl}`;
                mimeCheck()
            });
        }
        function mimeCheck() {

            var fileName, fileExtension;
            fileName = $('#publicationUrlGot').val();
            fileExtension = fileName.split('.').pop();
            console.log(fileExtension);
            let mimeTypeCheck = fileExtension;
            console.log(mimeTypeCheck);
            if (mimeTypeCheck == "epub") {
                $('#showEpub').toggleClass('hidden');
                getEpubValue()
            }
            if (mimeTypeCheck == "html") {
                $('#showHtml').toggleClass('hidden');
                getHtmlValue()
            }
        }
        function getEpubValue() {
            var mimi = document.getElementById("publicationUrlGot").value;
            console.log(mimi);
            var ifrm = document.createElement("iframe");
            ifrm.setAttribute("src", "/Readium/cloud-reader/index.html?epub=" + mimi);
            ifrm.style.width = "1000px";
            ifrm.style.height = "600px";
            document.getElementById("showEpub").appendChild(ifrm);
        }
        function getHtmlValue() {
            $(document).ready(function () {
                var Urlss = document.getElementById("publicationUrlGot").value;
                var ifrm = document.createElement("iframe");
                ifrm.setAttribute("src", `${Urlss}`);
                ifrm.style.width = "1000px";
                ifrm.style.height = "600px";
                document.getElementById("showHtml").appendChild(ifrm);
            });
        }
    })();
</script>
<div class="wrapper wrapper-content animated fadeInRight" id="assignment-view" data-assignmentId="@ViewBag.AssignmentId">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">

            <div class="form-group col-md-10 hidden">
                <input type="text" name="publicationUrlGot" id="publicationUrlGot" class="form-control">
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> <i class="fa fa-book"></i>Assignment Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <dl id="assignment-details"></dl>
                    </div>
                    <div class="ibox-footer">

                        Assignment Details
                    </div>
                </div>
            </div>
            <div class="ibox-content no-padding">
                <div id="showHtml" class="hidden">
                    <div class="col-md-6">
                        <br>
                        <div style="color:black; font-weight:bold;font-size:15px;">Online Curation, View Content On This Frame</div>
                        <br>
                    </div>
                    <div>
                    </div>
                </div>
                <div id="showEpub" class="hidden">
                    <div class="col-md-6">
                        <br>
                        <div style="color:black; font-weight:bold;font-size:15px;">Online Curation, View Content On This Frame</div>
                        <br>
                    </div>
                </div>
            </div>
            <br>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Curator Recomendations</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content" id="chief-curator-comment">
                        @Html.Partial("_NotesEditorPartial")
                    </div>
                    <div class="ibox-footer">

                        <a href="#" class="btn btn-primary" id="save-notes">Save comments</a>
                        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#confirmsave">Save&nbsp;&amp;&nbsp;Submit</a>
                        <a href="@Url.Action("CuratorView","Curator")" class="btn btn-warning" id="back-to-assignments">Back to Assignments</a>
                        <div class="modal inmodal" id="confirmsave" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Confirm Submission</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Are you sure you want to submit the recommendations?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                                        <button type="button" name="LegalApprove" id="save-notes-submit" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="form-group col-md-10">
    <input type="text" name="CurrentUserGuid" id="CurrentUserGuid" class="form-control hidden" value="@Model.Guid">
</div>
<div class="form-group col-md-10">
    <input type="text" name="SubjectId" id="SubjectId" class="form-control hidden" value="@Model.Subjectid">
</div>
<div class="form-group col-md-10">
    <input type="text" name="FullName" id="FullName" class="form-control hidden" value="@Model.FullName">
</div>
